@mixin prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}
/* Base
   ----------------------------- */
* {
    font-family: 'Cabin', sans-serif;
}
html,
body,
.viewport {
  filter: grayscale(50%);
    font-family: 'Cabin', sans-serif;
    width: 100%;
    height: 100%;
    background: $background;
    color: $maintext;
    // font-weight: 900;
    font-size: 1.5em;
}
#main {
    max-width: 980px;
}
.main-container {
    padding: 1em;
}
a {
    text-decoration: none;
    color: #FF3D2E;
}
a:hover {
    text-decoration: none;
    color: $accent8;
    cursor: pointer;
    cursor: hand;
}
.giant-font {
    margin: 0;
    padding: 1rem;
    font-size: 10vw;
    font-weight: 600;
    text-align: center;
}
.normal-font {
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: center;
}
/* Centering
   ----------------------------- */
.center {
    margin: 0 auto;
}
.center-block {
    margin: 0 auto;
    display: block;
}
.center-text {
    text-align: center;
}
#content-01 {
    background: $accentOp1;
}
#content-02 {
    background: $accentOp2;
}
#content-03 {
    background: $accentOp3;
}
/* Media map
   ----------------------------- */
$breakpoints: (mobilewidth: 320px, mobilelgwidth: 414px, tabletwidth: 768px, desktopwidth: 960px) !default;
/* Media mixins:
   ----------------------------- */
@mixin mobile {
    @media (min-width: map-get($breakpoints, mobilewidth)) and (max-width: map-get($breakpoints, mobilelgwidth)) {
        @content;
    }
}
@mixin mobile-lg {
    @media (min-width: map-get($breakpoints, mobilelgwidth)) and (max-width: map-get($breakpoints, tabletwidth)) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: map-get($breakpoints, tabletwidth)) and (max-width: map-get($breakpoints, desktopwidth)) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: map-get($breakpoints, desktopwidth)) {
        @content;
    }
}
/* Main width control
   ----------------------------- */
@include mobile {
    .max {
        width: map-get($breakpoints, mobilewidth) - 5px;
    }
    .drop-max {
        max-width: map-get($breakpoints, mobilewidt);
    }
}
@include mobile-lg {
    .max {
        width: map-get($breakpoints, mobilelgwidth) - 5px;
    }
    .drop-max {
        width: map-get($breakpoints, mobilelgwidth);
    }
}
@include tablet {
    .max {
        width: map-get($breakpoints, tabletwidth) - 5px;
    }
    .drop-max {
        width: map-get($breakpoints, tabletwidth);
    }
}
@include desktop {
    .max {
        width: map-get($breakpoints, desktopwidth) - 5px;
    }
    .drop-max {
        width: map-get($breakpoints, desktopwidth);
    }
}
