<div id="main" class="default center">
    <div class="center banner-img">
        <img class="banner-graphic center-block" src="ca1.svg"></img>
    </div>
    <!-- <div class="normal-font">
        <div ng-class="{'show': mainActive, 'hide': !mainActive}">
            <section id="content-01">

            </section>
            <section id="content-02">

            </section>
            <section id="content-03">

            </section>
        </div>
    </div> -->
    <div class="flex flex-v flex-sm-col-reverse">
        <div role="main">
            <div class="wrap flex flex-change-1">
                <section class="flex-1">
                    <h1 class="giant-font">Heading One</h1>
                    <p>This is main text with <a href="">a link</a> and some
                        <strong>bold text</strong>. With some
                        <em>some emphasis</em> as well.</p>
                </section>
                <!-- <section class="flex-1 flex flex-v flex-center-v">
                    <h2>Box Centered Vertically</h2>
                    <p>We're centered.</p>
                </section> -->
            </div>
        </div>
    </div>
</div>
