<div class="default center">
    <div class="n-top">
      <ul class="nav-top">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="center banner-img">
        <img class="logo" src="logo-caption-white.png"></img>
    </div>
    <div class="flex flex-v flex-sm-col-reverse">
        <div class="main" role="main">
            <div class="block1"> <!---Changes the color of the block--->
              <div class="wrap flex flex-change-1">
                  <section class="flex-1">
                      <h1 class="giant-font space">Intensive code classes, with a good cause.</h1>
                  </section>
              </div>
            </div>
            <div class="block2"> <!--Changes the color of the block--->
              <div class="wrap flex flex-change-1">
                  <section class="flex-1">
                      <p class="center-text space">Spend 10 days coding <a href="">here</a>, working on a portfolio project, and enjoying the best places on earth.</p>
                        <h2 class="center-text">
                          <strong>2016</strong>:
                        </h2>
                          <h2 class="giant-font">Oregon Coast</h2>
                  </section>
              </div>
            </div>
        </div>
    </div>
</div>
