<div class="default center">
    <div class="center banner-img rise">
        <img src="ca2.svg"></img>
    </div>
    <div class="flex flex-v flex-sm-col-reverse">
        <div role="main">
            <div class="wrap flex flex-change-1">
                <section class="flex-1">
                    <h1 class="giant-font">Intensive code classes, with a good cause.</h1>
                    <p>Spend 10 days coding <a href="">here</a>, working on a portfolio project, and enjoying the best places on earth.</p>
                      <h1 class="center-text">
                        <strong>2016</strong>:
                      </h1>
                        <h1 class="giant-font">Oregon Coast</h1>
                </section>
            </div>
        </div>
    </div>
</div>
